.single-card {
  margin-top: 20%;
  margin-left: -20%;
  border: 5px solid #dad891;
  border-radius: 10%;
  width: 160%;
  height: 105%;
  background: whitesmoke;
  opacity: 0.80;
  text-align:left;
}

.single-card:hover {
  opacity: 0.93;
  transform: scale(1.01);
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.ip-card-text {
  margin-left: 5%;
  font-family:'Times New Roman', Times, serif;
  font-size: 110%;
  margin: 3% 3% 3% 5%;
}